<div class="container banner-container">
  <div class="banner-short"></div>
</div>


<div class="container">
  <div class="container-width">
    <div class="container bullets-container">
      <div class="bullets">
        <div class="container points-container">
          <div class="point">
            <h3>About Us</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-container">
      <div class="message">
        <p>During the boom years, thousands of people purchased holiday or permanet homes  "Off-Plan" throughout Spain from Spanish developers.</p>
        <p>Unfortunately due to the worldwide recessions, developers failed to complete construction due to running out of money, or in some cases entering into Liquidation or Bankruptcy. Either situation left purchasers in the unenviable position of not knowing what happened to their "Deposit Money"</p>
        <p>Many Purchasers believed that if the developer entered into liquidation or was forced into Bankruptcy, they would have no chance of reclaiming their lost deposits.</p>
        <p>This is simply not the case. We specialise in getting these deposits back for our customers.</p>
      </div>
    </div>
  </div>
</div>