<div class="container banner-container">
  <div class="banner-short"></div>
</div>


<div class="container">
  <div class="container-width">
    <div class="container bullets-container">
      <div class="bullets">
        <div class="container points-container">
          <div class="point">
            <h3>Spanish Deposit Refunds</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-container">
      <div class="message">
        <h4 style="text-align:center"><strong>100% No Win - No Fee</strong></h4>
        <p>Assuming your case is won, Off Plan Property Deposit Refunds S.L. will charge a fee of 15% of your full awarded claim plus IVA. This amount will be deducted by our lawyers prior to forwarding your Deposit Refund(s).</p>
        <p>If your claim is not successful, there will be absolutly no charge to you!</p>
        <p>Any interest awarded by the courts will be retained by our lawyers to cover their legal court costs, disbursements, travel, expenses and lawyer fees.</p>
        
        <h4 style="text-align:center"><strong>It's that simple, you really have nothing to loose.</strong></h4>
        <p>Our dedicated team of lawyers who's offices are based on the Costa del Sol, have to date been 100% successful in reclaiming clients lost deposits.</p>
        <p>Our lawyers will diligently pursue your case through the Spanish Courts to reclaim your lost deposits. Court cases usually take 18 months - 2 years.</p>
        
        <h4 style="text-align:center"><strong>Start your claim today!</strong></h4>
        <p>If it is deemed that you have a case, Power of Attorney will be required by ALL Signatories who signed the original Purchase Contract/s. This can be carried out by travelling to Spain and signing Power of Attorney at our local Notary Office.</p>
        <p>You will also be introduced to one of our Lawyers who will diligently act on your behalf.</p>
        <p>Alternatively, you can sign Power of Attorney within your own country of residence through your own designated Lawyer-Notary.</p>
        
        <h4 style="text-align:center"><strong>What will I need?</strong></h4>
        <ul>
          <li>Original or Copy of your Original Purchase Contract/s</li>
          <li>Proof of Deposit Payments either made by Cheque, Bank Transfer/s or Cash Receipts.</li>
          <li>Any other documentation that may assist your claim.</li>
          <li style="color: red">If you instructed a lawyer here in Spain to handle your purchase, we would have to obtain your file directly from your lawyer. Power of Attorney will be required for our lawyers to legally request your documentation. Once received, our lawyers will then be able to assess your situation.</li>
          <li><a href="/contact">Fill in the form here and one of our representative will contact you shortly.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>