<div class="row banner-short">

</div>

<div class="row justify-content-center content-block">
  <div class="col-11 content content-first center-text">
    <h3>Spanish Deposit Refunds</h3>
  </div>
</div>

<div class="row justify-content-center content-block">
  <div class="col-11 content content">
    <h4 style="text-align:center"><strong>100% No Win - No Fee</strong></h4>
    <p>Assuming your case is won, Off Plan Property Deposit Refunds S.L. will charge a fee of 15% plus IVA (VAT) of your full awarded deposit reclaim. This amount will be deducted by our lawyers, prior to forwarding your Deposit Refund(s).</p>
    <p>If your claim is not successful, there will be <strong>absolutely no charge to you!</strong></p>
    <p>Any interest awarded by the courts will be retained by our lawyers to cover their legal court costs, disbursements, travel, expenses and lawyer fees.</p>

    <h4 style="text-align:center"><strong>It's that simple, you really have nothing to loose.</strong></h4>
    <p>During the boom years, thousands of people purchased " Off Plan Holiday Homes" or "Permanent Homes" throughout Spain and the Balearic Islands from Spanish developers.</p>
    <p>Unfortunately due to the worldwide recession, developers failed to complete construction due to running out of money, or in some cases entering into Liquidation or Bankruptcy. Either situation left purchasers in the unenviable position of not knowing what happened to their "Deposit Money"</p>
    <p>Many Purchasers believed, that if the developer entered into liquidation, or was forced into Bankruptcy, they would have no chance of reclaiming their lost deposits.</p>
    <p><strong>This is simply not the case.</strong> We specialize in reclaiming deposits back for our clients.</p>
    <p>Our dedicated team of Lawyers, whose offices are based on THE COSTA DEL SOL, have been exceptionally successful in reclaiming clients lost deposits.</p>
    <p>Our Lawyers will diligently pursue your claim through the Spanish Courts to reclaim your lost deposits.</p>
    <p>Cases normally take between 2/3 years from outset to conclusion.</p>

    <h4 style="text-align:center"><strong>Start your claim today!</strong></h4>
    <p>If it is deemed that you have a case, Power of Attorney will be required by ALL Signatories who signed the Original Purchase Contract/s. This can be carried out by travelling to Spain and signing Power of Attorney at our local Notary Office.</p>
    <p>You will also be introduced to one of our Lawyers who will diligently act on your behalf.</p>
    <p>Alternatively, you can sign Power of Attorney within your own country of residence through your own 

        designated Lawyer-Notary.</p>

    <h4 style="text-align:center"><strong>What will I need?</strong></h4>
    <ul>
      <li>Original or Copy of your Original Purchase Contract/s</li>
      <li>Proof of Deposit Payments either made by Cheque, Bank Transfer/s or Cash Receipts.</li>
      <li>Any other documentation that may assist your claim.</li>
      <li style="color: red">If you instructed a lawyer here in Spain to handle your purchase, we would have to obtain
        your file directly from your lawyer. Power of Attorney will be required for our lawyers to legally request your
        documentation. Once received, our lawyers will then be able to assess your situation.</li>
    </ul>
    <div class="form-group">
        <button routerLink="/contact" type="button" class="btn btn-primary btn-block">Fill in the form here and one of our representative will contact you shortly.</button>
      </div>
  </div>
</div>