<div class="row banner-full">

</div>

<div class="row justify-content-center content-block">
  <div class="col-11 content content-first center-text">
    <h3>Did you buy a Spanish Property Off Plan from a Developer?</h3>
    <div class="row justify-content-around">
      <div class="col point">
        <div class="point-head">1</div>
        <div class="point-title"><b>Did you place any deposits?</b><br /><br /></div>
        <div class="point-description">
          <p>If you placed a deposit on a property in <strong>Spain</strong> or the <strong>Balearic
              Islands</strong> and the developer entered into liquidation. We specialize in reclaiming deposits back
            for our clients.</p>
        </div>
      </div>

      <div class="col point">
        <div class="point-head">2</div>
        <div class="point-title"><b>Developer fail to complete construction?</b></div>
        <div class="point-description">
          <p>Many people who placed a deposit on a property that failed to complete, believe that their deposit
            money was lost forever, this is simply not the case.</p>
        </div>
      </div>

      <div class="col point">
        <div class="point-head">3</div>
        <div class="point-title"><b>Did your developer enter into liquidation or bankruptcy?</b></div>
        <div class="point-description">
          <p>Even if the developer entered into liquidation or bankruptcy we can help get your lost deposit
            refunded!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center content-block">
  <div class="col-11 content center-text">
    <h3>All is not lost!</h3>
    <p>We can help you reclaim your lost deposit money.</p>
  </div>
</div>

<div class="row justify-content-center content-block">
  <div class="col-11 content center-text">
    <h3>Watch this interview with Property TV show how we can help you reclaim your deposit.</h3>
    <div style="position:relative;padding-top:56.25%;">
      <iframe src="https://player.vimeo.com/video/208163454" frameborder="0" allowfullscreen
        style="position:absolute;top:0;left:0;width:100%;height:100%;">
      </iframe>
    </div>

  </div>
</div>