<div class="container topbar-container"></div>

<div class="container banner-container">
  <div class="banner-full"></div>
</div>


<div class="container">
  <div class="container-width">
    <div class="container bullets-container">
      <div class="bullets">
        <h3>Did you buy a Spanish Property Off Plan from a Developer?</h3>
        <div class="container points-container">
            <div class="point">
            <div class="point-head">1</div>
            <div class="point-title"><b>Did you place any deposits?</b><br/><br/></div>
            <div class="point-description"><p>If you placed a deposit on a property in <strong>Spain</strong> and the developer entered into liquidation. We specialize in getting deposits back for our clients.</p></div>
          </div>

          <div class="point">
            <div class="point-head">2</div>
            <div class="point-title"><b>Developer fail to complete construction?</b></div>
            <div class="point-description"><p>Many people who placed a deposit on a property that failed to complete believe that their deposit money was lost forever, this is simply not the case.</p></div>
          </div>

          <div class="point">
            <div class="point-head">3</div>
            <div class="point-title"><b>Did your developer enter into liquidation or backruptsy?</b></div>
            <div class="point-description"><p>Even if the developer entered into liquidization or backruptsy we can help get your deposits refunded!</p></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container help-container">
      <div class="message">
        <h3>All is not lost!</h3>
        <p>We can help you reclaim your lost deposit money.</p>
        <p><a href="/deposit-refunds">Click here to find out how we can help</a></p>
      </div>
    </div>

  </div>
</div>

<div class="container video-container">
  <div class="content">
    <h3>Watch this interview with Property TV show how we can help you reclaim your deposit.</h3>
    <iframe src="https://player.vimeo.com/video/208163454" width="900" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>