<div class="row banner-full">

</div>

<div _ngcontent-c1="" class="row justify-content-center content-block content-first">
    <div _ngcontent-c1="" class="col-11 content  center-text">
        <h3 _ngcontent-c1="">Did you buy a Spanish Property Off Plan from a Developer?</h3>
        <div _ngcontent-c1="" class="row justify-content-around">
            <div _ngcontent-c1="" class="col point">
                <div _ngcontent-c1="" class="point-head">1</div>
                <div _ngcontent-c1="" class="point-title"><b _ngcontent-c1="">Did you place any deposits?</b><br _ngcontent-c1=""><br _ngcontent-c1=""></div>
                <div _ngcontent-c1="" class="point-description">
                    <p _ngcontent-c1="">If you placed a deposit on a property in <strong _ngcontent-c1="">Spain</strong> or the <strong _ngcontent-c1="">Balearic
              Islands</strong> and the developer entered into liquidation. We specialize in reclaiming deposits back for our clients.</p>
                </div>
            </div>

            <div _ngcontent-c1="" class="col point">
                <div _ngcontent-c1="" class="point-head">2</div>
                <div _ngcontent-c1="" class="point-title"><b _ngcontent-c1="">Developer fail to complete construction?</b></div>
                <div _ngcontent-c1="" class="point-description">
                    <p _ngcontent-c1="">Many people who placed a deposit on a property that failed to complete, believe that their deposit money was lost forever, this is simply not the case.</p>
                </div>
            </div>

            <div _ngcontent-c1="" class="col point">
                <div _ngcontent-c1="" class="point-head">3</div>
                <div _ngcontent-c1="" class="point-title"><b _ngcontent-c1="">Did your developer enter into liquidation or bankruptcy?</b></div>
                <div _ngcontent-c1="" class="point-description">
                    <p _ngcontent-c1="">Even if the developer entered into liquidation or bankruptcy we can help get your lost deposit refunded!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div _ngcontent-c1="" class="row justify-content-center content-block">
    <div _ngcontent-c1="" class="col-11 content center-text">
        <h3 _ngcontent-c1="">ALL IS NOT LOST!</h3>
        <p _ngcontent-c1="" style="color: red">We can assist you in reclaiming your lost deposits</p>
        <p _ngcontent-c1="" style="color: red">( Final date to register a claim is currently 10th December 2020 )</p>
        <p _ngcontent-c1="" style="color: red">Do not delay! call us on <a _ngcontent-c1="" href="tel:+34642740708">+34 642 740708</a> or <a _ngcontent-c1="" href="tel:+447957400842">+44 7957 400 842</a></p>

    </div>
</div>

<div _ngcontent-c1="" class="row justify-content-center content-block">
    <div _ngcontent-c1="" class="col-11 content content">
        <h4 _ngcontent-c1="" style="text-align:center"><strong _ngcontent-c1="">100% No Win - No Fee</strong></h4>
        <p _ngcontent-c1="">Assuming your case is won, Off Plan Property Deposit Refunds S.L. will charge a fee of 15% plus IVA (VAT) of your full awarded deposit reclaim. This amount will be deducted by our lawyers, prior to forwarding your Deposit Refund(s).</p>
        <p _ngcontent-c1="">If your claim is not successful, there will be <strong _ngcontent-c1="">absolutely no charge to you!</strong></p>
        <p _ngcontent-c1="">Any interest awarded by the courts will be retained by our lawyers to cover their legal court costs, disbursements, travel, expenses and lawyer fees.</p>

        <h4 _ngcontent-c1="" style="text-align:center"><strong _ngcontent-c1="">It's that simple, you really have nothing to lose.</strong></h4>
        <p _ngcontent-c1="">During the boom years, thousands of people purchased " Off Plan Holiday Homes" or "Permanent Homes" throughout Spain and the Balearic Islands from Spanish developers.</p>
        <p _ngcontent-c1="">Unfortunately due to the worldwide recession, developers failed to complete construction due to running out of money, or in some cases entering into Liquidation or Bankruptcy. Either situation left purchasers in the unenviable position of not
            knowing what happened to their "Deposit Money"</p>
        <p _ngcontent-c1="">Many Purchasers believed that if the developer entered into liquidation, or was forced into Bankruptcy, they would have no chance of reclaiming their lost deposits.</p>
        <p _ngcontent-c1=""><strong _ngcontent-c1="">This is simply not the case.</strong> We specialize in reclaiming deposits back for our clients.</p>
        <p _ngcontent-c1="">Our dedicated team of Lawyers, whose offices are based on THE COSTA DEL SOL, have been exceptionally successful in reclaiming clients lost deposits.</p>
        <p _ngcontent-c1="">Our Lawyers will diligently pursue your claim through the Spanish Courts to reclaim your lost deposits.</p>
        <p _ngcontent-c1="">Cases normally take between 2/3 years from outset to conclusion.</p>

        <h4 _ngcontent-c1="" style="text-align:center"><strong _ngcontent-c1="">How to claim</strong></h4>
        <p _ngcontent-c1="">If it is deemed that you have a case, Power of Attorney will be required by ALL Signatories who signed the Original Purchase Contract/s. This can be carried out by travelling to Spain and signing Power of Attorney at our local Notary Office.</p>
        <p _ngcontent-c1="">You will also be introduced to one of our Lawyers who will diligently act on your behalf.</p>
        <p _ngcontent-c1="">Alternatively, you can sign Power of Attorney within your own country of residence through your own designated Lawyer-Notary.</p>

        <h4 _ngcontent-c1="" style="text-align:center"><strong _ngcontent-c1="">What will I need?</strong></h4>
        <ul _ngcontent-c1="">
            <li _ngcontent-c1="">Original or Copy of your Original Purchase Contract/s</li>
            <li _ngcontent-c1="">Proof of Deposit Payments either made by Cheque, Bank Transfer/s or Cash Receipts.</li>
            <li _ngcontent-c1="">Any other documentation that may assist your claim.</li>
            <li _ngcontent-c1="">If you instructed a lawyer here in Spain to handle your purchase, we would have to obtain your file directly from your lawyer. Power of Attorney will be required for our lawyers to legally request your documentation. Once received, our lawyers
                will then be able to assess your situation.</li>
        </ul>
        <div _ngcontent-c1="" class="form-group">
            <button _ngcontent-c1="" class="btn btn-primary btn-block" routerlink="/contact" type="button" tabindex="0">Fill in the form here and one of our representative will contact you shortly.</button>
        </div>
    </div>
</div>